html {
  font-size: 62.5%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-size: 24px;
  background-color: rgba(3, 3, 3, 0.877);
  color: white;
  font-family: "Roboto", sans-serif; }

a {
  color: white;
  text-decoration: none; }

h1,
h2 {
  color: white;
  font-family: "Roboto", sans-serif; }

header {
  z-index: 9999;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  margin: auto;
  height: 150px;
  width: 100%; }

main {
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 150px;
  width: auto;
  margin: 0px;
  top: 0px; }

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem; }

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0px;
  margin-top: 150px;
  width: auto;
  background-color: rgba(4, 99, 70, 0.877);
  border: solid 4px white; }

.flxhead {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 6px; }
  .flxhead li {
    color: white;
    display: inline;
    position: relative;
    margin: 16px;
    padding: 8px;
    font-size: 2rem;
    list-style-type: none; }
  .flxhead nav ul li:hover {
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.877);
    border-radius: 32px; }

.menu {
  height: 150px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  display: flex;
  margin: 0px;
  top: 0px;
  background-color: rgba(4, 99, 70, 0.877); }
  .menu section {
    display: block;
    justify-content: center;
    height: 148px;
    width: auto; }
    .menu section img {
      position: relative;
      margin: 0px;
      margin-left: 25px;
      height: 100px;
      width: auto; }

.hyperx {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  margin-top: 250px;
  margin-bottom: 50px;
  height: 100px;
  width: auto; }
  .hyperx img {
    border: solid 2px white;
    margin: 2px;
    height: 150px;
    width: 1400px; }

.parra {
  height: 150px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 52px;
  margin: 12px;
  padding: 12px;
  top: 0px;
  word-spacing: 10px;
  margin-top: 7%; }

.text {
  position: relative;
  height: 250px;
  width: 750px;
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  margin: 0px;
  padding: 4px; }

.contmid {
  justify-content: space-between;
  position: relative;
  justify-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  margin: 12px;
  height: 700px;
  width: auto; }
  .contmid .secmid {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    margin: 0px;
    margin-top: 190px; }

.conect {
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  height: 150px;
  width: auto;
  padding: 4px;
  margin: 8px; }
  .conect fieldset {
    border: solid 4px white;
    color: white;
    margin: 8px;
    background-color: rgba(11, 68, 51, 0.877);
    padding: 2px; }

.boxvid {
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  background-color: rgba(11, 68, 51, 0.877);
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 650px;
  top: 0px;
  margin: 4px; }

.comuni {
  height: 85%;
  margin: 4px; }

.text2 {
  font-size: 2rem;
  background-color: rgba(11, 68, 51, 0.877);
  margin: 4px; }

.comunicc {
  height: 90%;
  margin: 0px; }

.public, .publicc {
  margin: 4px;
  margin-top: 200px;
  border: solid 4px white;
  height: 200px;
  width: 275px; }

.boxsellt {
  justify-content: space-between;
  align-items: center;
  border: solid 2px black;
  background-color: rgba(11, 68, 51, 0.877);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 50%;
  top: 0px;
  padding: 12px;
  margin: 4px;
  margin-top: 16px; }
  .boxsellt .buyss {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 4px; }
    .boxsellt .buyss fieldset {
      background-color: black;
      display: flex;
      flex-direction: row;
      flex-flow: column wrap;
      position: relative;
      height: 150px;
      width: auto;
      margin: 6px; }
      .boxsellt .buyss fieldset img {
        border-radius: 10px;
        border: solid 2px black;
        margin: 4px;
        height: 100px;
        width: 250px; }
      .boxsellt .buyss fieldset img:hover {
        transform: scale(1.4);
        transition: 1.7s; }
    .boxsellt .buyss form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px; }
      .boxsellt .buyss form input {
        margin: 4px; }

.boxsell {
  justify-content: space-between;
  align-items: center;
  border: solid 2px black;
  background-color: rgba(11, 68, 51, 0.877);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 50%;
  top: 0px;
  padding: 12px;
  margin: 4px;
  margin-top: 16px; }
  .boxsell .sell {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 4px; }
    .boxsell .sell fieldset {
      justify-content: center;
      background-color: black;
      display: flex;
      flex-direction: row;
      flex-flow: column wrap;
      position: relative;
      height: 200px;
      width: auto;
      margin: 6px; }
    .boxsell .sell .sellt {
      border-radius: 10px;
      margin: 4px;
      margin-left: 15px;
      height: 150px;
      width: 200px; }
    .boxsell .sell img:hover {
      transform: scale(1.4);
      transition: 1.7s; }
    .boxsell .sell form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px; }
      .boxsell .sell form input {
        margin: 4px; }

.buybox {
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;
  width: auto; }
  .buybox section {
    justify-content: center;
    position: relative;
    width: auto;
    margin: 4px;
    padding: 0px; }
    .buybox section fieldset {
      background-color: rgba(11, 68, 51, 0.877);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 60%;
      margin: 8px;
      width: 500px; }
      .buybox section fieldset .imp {
        background-color: red;
        color: white;
        font-size: 1.5rem; }

footer {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  position: relative;
  height: 70px;
  padding: 0px;
  margin: 0px;
  margin-top: 15%;
  width: auto;
  background-color: rgba(4, 99, 70, 0.877); }
  footer .listfoo {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-end;
    padding: 10px;
    list-style-type: none; }
    footer .listfoo .ful1 {
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0px; }
      footer .listfoo .ful1 li {
        color: white;
        display: inline;
        position: relative;
        font-size: 28px;
        top: 0%;
        margin: 0px;
        padding: 10px;
        margin-right: 200px;
        list-style-type: none; }

@media screen and (max-width: 360px) {
  .flxhead {
    display: flex;
    flex-direction: row;
    align-content: flex-end; }
  .flxhead li {
    flex-direction: row;
    position: relative;
    margin: 0px;
    font-size: 1.2rem; }
  .flxhead nav ul li:hover {
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.877);
    border-radius: 32px; }
  .menu {
    justify-content: center;
    height: 120px;
    width: auto;
    position: fixed;
    display: flex;
    margin: 0px;
    top: 0px;
    background-color: rgba(4, 99, 70, 0.877); }
  .menu section {
    font-size: 16px;
    display: block;
    justify-content: center;
    margin: 4px;
    height: 100px;
    width: auto; }
  .menu section img {
    position: relative;
    margin: 0px;
    margin-left: 20px;
    height: 70px;
    width: auto; }
  .hyperx {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    margin-top: 150px;
    margin-bottom: 50px;
    height: 100px;
    width: auto; }
  .hyperx img {
    border: solid 2px white;
    margin: 0px;
    height: 80px;
    width: 100%; }
  .parra {
    height: 60px;
    width: auto;
    text-align: center;
    flex-direction: row;
    font-size: 2rem;
    margin: 4px; }
  main {
    height: 100px;
    width: auto;
    margin: 0px;
    top: 0px; }
  .text {
    height: 50%;
    width: auto;
    font-size: 12px;
    flex-direction: row;
    text-align: justify;
    margin: 2px;
    padding: 4px; }
  .contmid {
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row wrap;
    margin: auto; }
  .contmid .secmid {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 50px; }
  .conect {
    height: 100px; }
    .conect legend {
      font-size: 12px; }
    .conect label {
      font-size: 12px; }
    .conect .field input {
      height: 25px; }
  .boxvid {
    display: none; }
  .midbox {
    display: flex;
    margin: 4px;
    margin-bottom: 10px; }
    .midboxflextext {
      justify-content: space-between;
      display: flex;
      flex-direction: column; }
  .midbox2 {
    justify-content: space-between;
    display: flex;
    margin: 12px;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(11, 68, 51, 0.877); }
  .text2 {
    font-size: 2rem;
    margin: 8px; }
  .public, .publicc {
    height: 170px;
    margin: 0px;
    width: 130px;
    border: solid 1px white; }
  .publicc {
    display: flex;
    margin: 4px;
    height: 175px;
    width: 250px;
    margin-bottom: 20px; }
  .buys {
    justify-content: center;
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    margin: 4px;
    padding: 4px; }
  .boxsellt {
    justify-content: space-between;
    align-items: center;
    border: solid 2px white;
    background-color: rgba(11, 68, 51, 0.877);
    display: flex;
    flex-flow: row wrap;
    height: 70%;
    width: auto;
    top: 0px;
    padding: 2px;
    margin: 8px; }
  .boxsellt .buyss {
    margin: 8px;
    display: inline;
    justify-content: center;
    align-items: center; }
  .boxsellt .buyss fieldset {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    position: relative;
    height: 120px;
    width: auto;
    margin: 6px; }
  .boxsellt .buyss fieldset img {
    border-radius: 10px;
    border: solid 2px black;
    margin: 4px;
    height: 80px;
    width: 220px; }
  .boxsellt .buyss fieldset img:hover {
    transform: scale(1.4);
    transition: 1.7s; }
  .boxsellt .buyss form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px; }
  .boxsellt .buyss form input {
    margin: 4px; }
  .boxsell {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 4px;
    height: 50%;
    width: auto; }
  .boxsell .sell {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 4px; }
  .boxsell .sell fieldset {
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    position: relative;
    height: auto;
    width: auto;
    margin: 4px; }
  .boxsell .sell .sellt {
    margin: 4px;
    height: 100px;
    width: auto; }
  .boxsell .sell form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px; }
  .boxsell .sell form input {
    margin: 4px; }
  .buybox {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
    width: auto; }
    .buybox section {
      justify-content: center;
      position: relative;
      width: auto;
      margin: 2px;
      padding: 0px; }
      .buybox section fieldset {
        background-color: rgba(11, 68, 51, 0.877);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 400px;
        margin: 2px;
        width: 300px; }
        .buybox section fieldset .imp {
          background-color: red;
          color: white;
          font-size: 1.5rem; }
  footer {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    position: relative;
    height: 100px;
    padding: 0px;
    margin: 0px;
    margin-top: 15%;
    width: auto;
    background-color: rgba(4, 99, 70, 0.877); }
  footer .listfoo {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-end;
    padding: 10px;
    list-style-type: none; }
  footer .listfoo .ful1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px; }
  footer .listfoo .ful1 li {
    color: white;
    display: inline;
    position: relative;
    font-size: 16px;
    top: 0%;
    margin: 0px;
    padding: 10px;
    list-style-type: none; }
  footer .listfoo .ful1 nav ul li:hover {
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.877);
    border-radius: 32px; } }
