.hyperx{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 12px;
    border: solid 2px $color-pie;
    margin-top: 200px;
    margin-bottom: 50px;
    height: 150px;
    width: auto;

    &img{
        margin: 2px;
        border: solid 2px $color-letras;
        height: 100px;
        width: 1400px;
    }
}
