.conect {
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    height: 150px;
    width: auto;
    padding: 4px;
    margin: 8px;

    fieldset {
        border: solid 4px white;
        color: white;
        margin: 8px;
        background-color: $color-section;
        padding: 2px;
    }
}
