.listfoo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-end;
    padding: 10px;
    list-style-type: none;
    nav{
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        
        li{
            border: solid 4px white;
            border-bottom: 0px;
            background-color: grey;
            color: white;
            display: inline;
            position: relative;
            font-size: $font-32;
            top: 0%;
            margin: 0px;
            padding: 12px;
            margin-right:200px;
            list-style-type: none;
        }
        
    li:hover{
        font-weight: bold;
        background-color: $color-pie;
        }
    }
}
