.listfoo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-end;
    padding: 10px;
    list-style-type: none;
    nav{
        justify-content:center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li{
            @include secundario;
            border: solid 4px white;
            border-bottom: 0px;
            color: white;
            display: inline;
            position: relative;
            font-size: $font-32;
            top: 0%;
            margin: 32px;
            padding: 12px;
            list-style-type: none;
        }

    li:hover{
            font-weight: bold;
            background-color: $color-pie;
        }
    }
}
