.flxhead {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 6px;

    li {
        color: white;
        display: inline;
        position: relative;
        margin: 12px;
        padding: 8px;
        font-size: $font-32;
        margin-right: 16px;
        list-style-type: none;
    }
    nav ul li:hover {
        font-weight: bold;
        background-color: $color-pie;
        border-radius: 32px;
    }
}
//    MENU HEADER
.menu {
    height: 150px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    display: flex;
    margin: 0px;
    top: 0px;
    background-color: $color-menu;

    section {
        display: block;
        justify-content: center;
        height: 148px;
        width: auto;

        img {
            position: relative;
            margin: 0px;
            margin-left: 25px;
            height: 100px;
            width: auto;
        }
    }
}
