// Video index
.boxvid {
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    background-color: $color-section;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 650px;
    top: 0px;
    margin: 4px;
}
.comuni {
    height: 85%;
    margin: 4px;
}
.text2 {
    font-size: $font-32;
    background-color: $color-section;
    margin: 4px;
}
.comunicc {
    height: 90%;
    margin: 0px;
}
