.public{
    margin: 4px;
    margin-top: 200px;
    border: solid 4px white;
    height: 200px;
    width: 275px;
}
.publicc{
    margin: 4px;
    border: solid 4px white;
    height: 300px;
    width: 250px;
}