.boxsellt {
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    background-color: $color-section;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 50%;
    top: 0px;
    padding: 12px;
    margin: 4px;
    margin-top: 16px;
    .buyss {
        display: inline;
        justify-content: center;
        align-items: center;
        margin: 4px;

        fieldset {
            background-color: black;
            display: flex;
            flex-direction: row;
            flex-flow: column wrap;
            position: relative;
            height: 150px;
            width: auto;
            margin: 6px;

            img {
                border-radius: 10px;
                border: solid 2px black;
                margin: 4px;
                height: 100px;
                width: 250px;
            }
            img:hover {
                transform: scale(1.4);
                transition: 1.7s;
            }
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px;

            input {
                margin: 4px;
            }
        }
    }
}
//  MOUSES
.boxsell {
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    background-color: $color-section;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 50%;
    top: 0px;
    padding: 12px;
    margin: 4px;
    margin-top: 16px;

    .sell {
        display: inline;
        justify-content: center;
        align-items: center;
        margin: 4px;
        fieldset {
            justify-content: center;
            background-color: black;
            display: flex;
            flex-direction: row;
            flex-flow: column wrap;
            position: relative;
            height: 200px;
            width: auto;
            margin: 0px;
        }

        .sellt {
            margin: 4px;
            margin-left: 15px;
            height: 150px;
            width: 200px;
            
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px;

            input {
                margin: 4px;
            }
        }
    }
    //  SECTOR DE COMPRAS
}
.buybox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    margin: 4px;
    width: auto;

    section {
        justify-content: center;
        position: relative;
        display: flex;
        height: 300px;
        width: auto;
        margin: 4px;
        padding: 0px;

        fieldset {
            margin: 12px;
        }
    }
}
